@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.container {
    background-color: #07090f;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
.gradient {
    background-image: linear-gradient(black, #07090f);
    width: 100vw;
    height: 20vh;
}
.about_section {
    padding-left: 10rem;
}
.textTitle {
    color: white;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    padding-right: 30rem;
    padding-top: 2rem;
}
.descriptionText {
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-bottom: 1rem;
}
.education_section {
    padding-left: 10rem;
}
.utdicon-wrapper {
    /* padding-bottom: 1rem; */
}
.subTitle {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
.gpa {
    background-color: green;
    width: fit-content;
    padding: 2px;
    border-radius: 8px;
    padding-inline: 8px;
    color: lightgreen;
    font-family: 'Raleway';
    font-weight: 900;
    animation: load ease-out .5s 1;
}
@keyframes load {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px)
    }
}