.canvas {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.fade-in-hello {
    animation: fade 0.9s ease-in;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
}
