.canvas {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
}
#tsparticles {
    opacity: 0;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.particles {
    opacity: 0;
    animation: fade 3s ease-in forwards;
    animation-delay: 2s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
