@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title-text {
    color: white;
    font-size: 2.7vw;
    line-height: 6vh;
    font-family: 'Raleway', sans-serif;
    }
.title-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.top-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

*.top-title-box, *.title-text, *.button {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top-title-box {
    opacity: 0;
    transform: translateY(-50px);
    animation: top-title-box 2s ease-out forwards;
    animation-delay: 1s;
}
.bottom-text {
    opacity: 0;
    transform: translateY(-50px);
    animation: bottom-title-box 2s ease-out forwards;
    animation-delay: 2s;
}
.button {
    z-index: 50;
    width: 8vw;
    position: absolute;
    bottom: 37vh;
    color: white;
    outline: 1px solid lightblue;
    font-size: 1.5vw;
    border-radius: 3px;
    opacity: 0;
    animation: button-fade 2s ease-in forwards;
    animation-delay: 4s;
    transition: background-color .5s ease;
    z-index: 10;
}
.button:hover {
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
}
@keyframes button-fade {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
  
@keyframes top-title-box {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom-title-box {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

